html {
	border: 10px;
	margin: 10px;
	padding: 10px;
}

	
li {
	display: inline;
    word-spacing: 20px;
    padding: 20px;
	margin-left:50px;
   
}


main {
	display: relative;
}


p {
	margin-left: 10px;
}

img {
	display: fixed;
	width: 250px;
	height: 200px;
	border-radius: 50px;
	padding: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 100px;
	margin-right: 150px;
}

nav {
    display: inline;
	padding: 20px;
}
